.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--bg-container);
}

.searchbar input {
    width: 50%;
    height: 40px;
    background-image: url(/src/assets/search.png);
    background-repeat: no-repeat;
    font-size: 1.1rem;
    margin: 0 20px;
    padding-left: 40px;
    border: none;
    border-bottom: 2px solid var(--color-border);
}

.searchbar input:focus {
    border: 2px solid var(--color-border);
    outline: none;
}

.searchbar input:active {
    outline: none;
}

.btn {
    height: 40px;
    width: 100px;
    font-size: 1.1rem;
    cursor: pointer;
    border: 2px solid var(--color-border);
    background-color: var(--bg-button);
    border-radius: 5px;
}

.btn:hover {
    font-weight: bold;
}

.load-more-btn {
    width: 200px;
}

.movies {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.movie-card {
    height: auto;
    width: 70%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.poster,
.details {
    margin: 0 10px;
}

.poster {
    width: 40%;
    text-align: center;
}

img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    /* opacity: 0.5;*/
    transition: 1000ms;
    cursor: pointer;
}

.details {
    width: 60%;
}

p {
    margin-bottom: 15px;
}

.title {
    font-size: 1.6rem;
    font-weight: bold;
}

.release-date {
    font-size: 1.3rem;
    font-weight: bold;
}

.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: rotation 1.5s infinite;
}

@keyframes rotation {
    to {
        transform: rotate(1turn)
    }

    ;
}

.scroll-sentinel {
    height: 20px;
    width: 90%;
}

.visible {
    transform: translateX(0);
    opacity: 1;
}


.character-name{
    font-weight: bold;
}

.cast-list {
  list-style: none;
  padding: 0;
  margin: 8px 0px;
  overflow: hidden;
  transition: max-height 0.7s ease, opacity 0.7s;
}

.cast-list.hidden {
  max-height: 0;
  opacity: 0;
}

.cast-list.shown {
  max-height: 300px; /* elég nagy */
  opacity: 1;
}

.cast-item {
    opacity: 0; /* kezdetben láthatatlan */
    transform: translateY(10px); /* kicsit lejjebb */
    transition: opacity 0.9s ease-out, transform 0.5s ease-out; /* animáció */
    margin-top: 5px;
}

/* Amikor visible class hozzáadódik, animáció indul */
.cast-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.show-hide-btn{
    border: 2px solid rgb(153, 163, 153);
    border-radius: 10px;
    text-align: center;
    height: 25px;
    min-width: 100px; 
    cursor: pointer;
}