:root {
    --bg-main: #f2f2f2;
    --bg-container: #eeeeee;
    --bg-button: #f0e8e8;
    --color-border: rgb(184, 167, 167);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-main);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;

}

.container {
    background-color: var(--bg-container);
    margin: 20px 0px;
    /*min-height: 95vh;*/
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: visible;
}


